name: Sync To UnRaid
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: rm -rf /github/workspace/.git/ && rm -rf /github/workspace/.github
    - uses: burnett01/rsync-deployments@5.2.1
      with:
        switches: -avzr --delete --exclude '.git'
        path: ./
        remote_path: ${{ secrets.DEPLOY_PATH }}
        remote_host: ${{ secrets.DEPLOY_HOST }}
        remote_port: ${{ secrets.DEPLOY_PORT }}
        remote_user: ${{ secrets.DEPLOY_USER }}
        remote_key: ${{ secrets.DEPLOY_KEY }}
